* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{ 
    max-width: 960px;
    display: flex;
    justify-content: space-around;
    margin: 200px auto
}

/* Spinner start */
.spinner {
    width: 150px;
    height: 150px;
    position: relative;
}

.spinner div {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid transparent;
    border-top-color: #f6931e;
    border-radius: 50%;
    animation: spinnerOne 1s infinite linear;
}

.spinner div:nth-child(2) {
    border: 10px solid transparent;
    border-bottom-color: #f6931e;
    animation: spinnerTwo 1s infinite linear;
}

@keyframes spinnerOne {
    0% { transform: rotate(0deg); border-width: 10px;}
    50% { transform: rotate(180deg); border-width: 1px;}
    100% { transform: rotate(360deg); border-width: 10px;}
}

@keyframes spinnerTwo {
    0% { transform: rotate(0deg); border-width: 1px;}
    50% { transform: rotate(180deg); border-width: 10px;}
    100% { transform: rotate(360deg); border-width: 1px;}
}
/* Spinner end */

/* Bouncer start */
.bouncer {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 150px;
    height: 150px;
}

.bouncer div {
    width: 20px;
    height: 20px;
    background: #36DE62;
    border-radius: 50%;
    animation: bouncer 0.6s cubic-bezier(0.19, 0.57, 0.3, .98) infinite alternate;
}

.bouncer div:nth-child(2) {
    animation-delay: 0.1s;
    opacity: 0.8;
}
.bouncer div:nth-child(3) {
    animation-delay: 0.2s;
    opacity: 0.6;
}
.bouncer div:nth-child(4) {
    animation-delay: 0.3s;
    opacity: 0.4;
}
.bouncer div:nth-child(5) {
    animation-delay: 0.4s;
    opacity: 0.2;
}

@keyframes bouncer {
    from { transform: translateY(0)}
    to { transform: translateY(-150px)}
}
/* Bouncer end */

/* Squares Start */

.square {
    width: 100px;
    height: 100px;
    position: relative;
    perspective: 200px;
}

.square div {
    position: absolute;
    width: 50px;
    height: 50px;
    background: coral;
    top: 0;
    animation: flip 2s linear infinite;
    transform-origin: right bottom;
}

.square div:nth-child(2) {
    animation-delay: 1s
}

@keyframes flip {
    0% { transform: rotateX(0) rotateY(0)}
    25% { transform: rotateX(0) rotateY(180deg)}
    50% { transform: rotateX(180deg) rotateY(180deg)}
    75% { transform: rotateX(180deg) rotateY(0)}
    100% { transform: rotateX(0) rotateY(0)}
}


/* Squares End */